mixin article(post)
  li.post-item
    h4.post-title: a(href=url_for(post.path)) #{post.title.replace(/<(?:.|\n)*?>/gm, '')}

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    block title
      title= config.title
    if theme.rss
      link(rel='alternate', type='application/rss+xml', title=config.title href=theme.rss)
    block styles
      link(href="/css/main.css?v=#{config.version}" rel="stylesheet")
    block meta
      block meta.description
        meta(name="description" content=config.description)
  body
    header.header
      h1.site-name
        a(href="/") e.z.
      ul.nav
        li
          a(href="/about.html" class=page.path === 'about.html' ? 'active' : '') about
        li
          a(href="/girls.html" class=page.path === 'girls.html' ? 'active' : '') girls
        li
          a(href="/donate.html" class=page.path === 'donate.html' ? 'active' : '') donate

    block page
    footer.footer
      .centered
        span.hide-on-mobile
          a(href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh") CC BY-NC-ND 4.0
        span &copy;
        span
          a(href="https://github.com/egoist") E.Z.
        span.hide-on-mobile.coding-support
          | Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages.</a>
        span.hide-on-mobile
          a(href="https://github.com/egoist/blog") Read the source code.
    block scripts
      div(style="display:none")
      script.
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-54857209-6', 'auto');
        ga('send', 'pageview');
      script(async, src="https://www.google-analytics.com/analytics.js")
