extends base

block title
  title= page.title

block append styles
  link(rel="stylesheet" href="//cdn.css.net/libs/highlight.js/9.0.0/styles/solarized_light.min.css")

block page
  section.centered.post-page
    .sidebar
      if page.path !== 'gf.html'
        - var tocContent = toc(page.content, {list_number: false})
        if tocContent
          .post-toc
            | !{tocContent}
            button.btn.toggle-toc 显示 TOC
    article.post
      h2.post-title= page.title
      if page.subtitle
        h2.post-subtitle= page.subtitle
      script.
      .post-content.markdown-body !{page.content}
      if is_post()
        .post-report-bug
          | 文章勘误及评论可以直接到 <a href="https://github.com/egoist/egoist.github.io.source/blob/master/source/_posts/#{page.slug}.md">源代码地址</a> 修改或者 <a href="https://github.com/egoist/egoist.github.io.source/issues/new">提交 ISSUE</a>，感谢阅读！

block append scripts
  script(src="//cdn.css.net/libs/highlight.js/9.0.0/highlight.min.js")
  script(src="/js/app.js?v=#{config.version}")

block meta
  if page.subtitle
    meta(name="description" content=page.subtitle)
  else
    - var summary = page.excerpt || page.content.replace(/<(?:.|\n)*?>/gm, '').substring(0, 100)
    meta(name="description" content=summary)
