extends base

block title
  - var title = page.title.replace(/<(?:.|\n)*?>/gm, '')
  title=title

block append styles
  link(rel="stylesheet" href="/css/highlight.css?v=#{config.version}")
  link(rel="stylesheet", href="/css/zoom.css?v=#{config.version}")

block page
  section.centered.post-page
    article.post
      h2.post-title !{page.title}
      if page.subtitle
        h2.post-subtitle= page.subtitle
      script.
      .post-content.markdown-body !{page.content}
      if is_post()
        #disqus_thread.disqus
        script.
          window.isPost = true;
          var disqus_config = function () {
            this.page.url = '#{page.permalink}'; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '#{page.path}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
        noscript
          | Please enable JavaScript to view the
          a(href='https://disqus.com/?ref_noscript', rel='nofollow') comments powered by Disqus.
        .post-report-bug
          | 文章勘误可以直接到 <a target="_blank" href="https://github.com/egoist/blog/blob/master/source/_posts/#{page.slug}.md">源代码地址</a> 修改或者 <a target="_blank" href="https://github.com/egoist/blog/issues/new">提交 ISSUE</a>，感谢阅读！

block append scripts
  script(src="/js/highlight.min.js?v=#{config.version}")
  script(src="/js/zoom.js?v=#{config.version}")
  script.
    window.hexoLayout = "#{page.layout}"
  script(src="/js/app.js?v=#{config.version}")

block meta
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@rem_rin_rin")
  - var title = page.title.replace(/<(?:.|\n)*?>/gm, '')
  meta(name="twitter:title" content=title)

  if page.subtitle
    meta(name="description" content=page.subtitle)
    meta(name="twitter:description" content=page.subtitle)
  else
    - var summary = page.excerpt || page.content.replace(/<(?:.|\n)*?>/gm, '').substring(0, 100)
    meta(name="description" content=summary)
    meta(name="twitter:description" content=summary)
