mixin article(post)
  li
    h4.post-title: a(href=url_for(post.path)) #{post.title}
    div.post-meta
      span.post-date= post.date.format(config.date_format)

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    if theme.favicon
      link(rel='icon', href=theme.favicon)
    if theme.rss
      link(rel='alternate', type='application/rss+xml', title=config.title href=theme.rss)
    link(rel='stylesheet', href='/css/main.css?v=175675743')
    block head
      title= config.title
    block meta
      meta(name="description" content=config.description)
      
  body
    header.header
      .avatar-wrapper
        a.avatar(href="/" style="background-image:url(#{config.avatar})") EGOIST
    .container
      .page#pjax
        block page

    footer.footer.
      あい。
    block scripts
      div(style="display:none;")
        script.
          var host = "egoist.github.io"
          if ((host == window.location.host) && (window.location.protocol != "https:"))
              window.location.protocol = "https"
          var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256487856'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1256487856' type='text/javascript'%3E%3C/script%3E"));
      script(src="/js/app-loading.js")
      script(src="/js/pjax.js")
      script(src="/js/prism.js" data-manual)
      script(src="/js/app.js?v=12754765741")
        
