extends base

mixin post(post)
  article.post
    header.post-header
      h2.post-title= post.title
      .post-meta
        span.post-date= post.date.format(config.date_format)
        span.post-meta-sep -
        span.post-author @#{config.author}
        span.post-meta-sep -
        span.post-count-words null
        |  words
    .post-content.markdown-body !{post.content}
    if post.layout === 'post'
      .post-ccby 
        | 本文版权归 EGOIST 所有，转载请遵循 
        a.link(href="https://creativecommons.org/licenses/by-sa/3.0/deed.zh") 署名-相同方式共享 3.0 版本
        |  协议

block head
  title #{page.title} - #{config.title}

block meta 
  - var summary = page.excerpt || page.content.substring(0, 100)
  meta(name="description" content=summary)

block page
  +post(page)

block append scripts
  script(src="/js/prism.js" data-manual)
  script(src="/js/app.js?v=1237241")